@keyframes dragDown{
    0%{transform: translateY(-100%);opacity: 0;}
    50%{transform: translateY(0);opacity: 0.5;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes Fade{
    from{opacity: 0;letter-spacing: 10px;}
    to{opacity: 1;letter-spacing: 0px;}
}
@keyframes navbarAnimate{
    from{background-color: blue; color:white;}
    to{background-color: white; color:blue;}
}
@media only screen and (orientation:portrait) and (min-width:0px) and (max-width:500px){
}
@media only screen and (orientation:portrait) and (min-width:501px) and (max-width:1100px){
}
img.achievements{
    max-width: 30vw;
}
.achievements{
    display:none;
}
a.navbar{
    color: white;
    white-space: nowrap;
    font-size: 25px;
    margin: 20px;
    text-decoration: none;
    margin-bottom: 50px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    height:min-content;
    text-align: center;
    object-fit: cover;
    background-color: black;
    background-image: linear-gradient(to right,black,blue);
}
.achievements{
    position: relative;
    color: black;
    font-size: 2vw;
    width: 95vw;
}
div#nav{
    text-align: center;
    z-index: 99999;
    position: fixed;
    top: 0;
    background: linear-gradient(to right, black,blue);
    box-shadow: 0px 0px 50px 0px black;
    width: 100%;
    left:0;
}
div#title{
    color: white;
    background-color: gray;
    margin: auto;
    width: min-content;
    top: 20vh;
    width: 90vw;
    font-size: 50px;
    position: relative;
}
li.navbar{
    text-align: unset;
    font-size: 20px;
    color:black;
    text-decoration: none;
    transition: 0.5s;
}
.navbar:hover{
    animation:navbarAnimate 0.5s linear forwards;
    text-decoration: underline;
    cursor: pointer;
}
.catagories{
    position: relative;
    text-align: center;
    font-size: 30px;
    transition: 1s;
}
.catagories:hover{
    letter-spacing: 3px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
h2.socials{
    top: 20vh;
    position: relative;
}
li.socials{
    top: 20vh;
    position: relative;
    list-style-type: none;
    display: inline-block;
}
img.socialsLogos{
    margin-left:10px;
    margin-right:10px;
    height: 10vh;
    transition: 0.5s;
}
img.socialsLogos:hover{
    transform:scale(1.5)
}
a.Projects{
    text-decoration: none;
    color: black;
}
a.Projects:hover{
    text-decoration: underline;
}
div.twopics{
    display:flex;
}
::-webkit-scrollbar {
    width:  20px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width:  10px;
}

::-webkit-scrollbar-thumb{
    background: darkgray;
    border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}
.Projects{
    margin:auto;
}
img.one{
    float: left;
    position: relative;
}
div.one{
    text-align: left;
    width: 20vw;
    float: left;
    position: relative;
}