@keyframes dragDown{
    0%{transform: translateY(-100%);opacity: 0;}
    50%{transform: translateY(0);opacity: 0.5;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes Fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
img{
    max-width: 30vw;
    margin: auto;
}
a{
    color: white;
    white-space: nowrap;
}
body{
    animation: Fade 1s linear;
    font-family: 'Montserrat', sans-serif;
    color:white;
    height:min-content;
    text-align: center;
    object-fit: cover;
    background-color: black;
    background-image: linear-gradient(to left,black,grey);
}
.achievements{
    position: relative;
    color: lightblue;
    font-size: 2vw;
    width: 95vw;
}
div#nav{
    text-align: center;
    z-index: 99999;
    position: fixed;
    top: 0;
    background-color: lightblue;
    width: 100%;
    left:0;
}
#title{
    top: 20vh;
    font-size: 3vw;
    text-align: center;
    position: relative;
}
.navbar{
    color:black;
    text-decoration: none;
    transition: 0.5s;
}
.navbar:hover{
    color:black;
    border: white solid 1px;
    background-color: darkgray;
    text-decoration: underline;
    cursor: pointer;
}
#home{
    margin-left: 50%;
    margin-right: 2%;
}
.catagories{
    position: relative;
    top: 20vh;
    text-align: center;
    font-size: 30px;
    transition: 1s;
}
.catagories:hover{
    letter-spacing: 3px;
    color: lime;
    cursor: pointer;
    text-decoration: underline;
}