@keyframes dragDown{
    0%{transform: translateY(-100%);opacity: 0;}
    50%{transform: translateY(0);opacity: 0.5;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes Fade{
    from{opacity: 0;letter-spacing: 10px;}
    to{opacity: 1;letter-spacing: 0px;}
}
@keyframes navbarLeftAnimate{
}
@media only screen and (orientation:portrait) and (min-width:0px) and (max-width:500px){
}
@media only screen and (orientation:portrait) and (min-width:501px) and (max-width:1100px){
}
img.achievements{
    width: 30vw;
}
.achievements{
    display:none;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    height:min-content;
    text-align: center;
    object-fit: cover;
    background-color: black;
    background-image: linear-gradient(to right,black,blue);
}
.achievements{
    position: relative;
    color: black;
    font-size: 2vw;
    width: 95vw;
}
div#nav{
    text-align: center;
    z-index: 99999;
    position: fixed;
    top: 0;
    background: linear-gradient(to right, black,blue);
    box-shadow: 0px 0px 50px 0px black;
    width: 100%;
    left:0;
}
div#Content{
    color: white;
    background-color: gray;
    margin: auto;
    height: min-content;
    top: 20vh;
    width: 90vw;
    font-size: 50px;
    position: relative;
    overflow: hidden;
}
a.navbar{
    color: white;
}
a.Leftnavbar{
    text-align: unset;
    font-size: 25px;
    color:white;
    text-decoration: none;
    transition: 0.5s;
    white-space: nowrap;
    margin: 20px;
    margin-bottom: 50px;
}
a.Rightnavbar{
    text-align: unset;
    font-size: 25px;
    color:white;
    text-decoration: none;
    transition: 0.5s;
    white-space: nowrap;
    margin: 20px;
    margin-bottom: 50px;
}
a.Leftnavbar:hover{
    color:aqua;
    text-decoration: underline;
    cursor: pointer;
}
a.Rightnavbar:hover{
    color:gray;
    text-decoration: none;
    cursor: pointer;
}
ul.catagories{
    position: relative;
    font-size: 30px;
    transition: 1s;
    margin:auto;
    list-style: none;
    padding: 0;
}
.catagories:hover{
    letter-spacing: 3px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
div#Socials{
    position: relative;
    top:20vh;
}
h2.socials{
    position: relative;
}
li.socials{
    position: relative;
    list-style-type: none;
    display: inline-block;
}
img.socialsLogos{
    margin-left:10px;
    margin-right:10px;
    height: 10vh;
    transition: 0.5s;
}
img.socialsLogos:hover{
    transform:scale(1.5)
}
a.Projects{
    text-decoration: none;
    color: black;
}
a.Projects:hover{
    text-decoration: underline;
}
div.twopics{
    display:flex;
}
img.twopics{
    width:25vw;
}
::-webkit-scrollbar {
    width:  20px;
}

::-webkit-scrollbar-track {
    background: transparent;
    width:  10px;
}

::-webkit-scrollbar-thumb{
    background: darkgray;
    border-radius: 20px;

}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}
.Projects{
    margin:auto;
}
div.CertAbout{
    position: relative;
    display:inline-block;
    margin-bottom: 0;
}
div.cert1{
    height:auto;
    position: relative;
    margin-left:30px;
    text-align:left;
}
div.cert2{
    width:min-content;
    height:auto;
    position: relative;
    text-align:right;
    margin-left:30px;
}
div.cert3{
    height:auto;
    position: relative;
    margin-top: 30px;
    margin-right:30px;
    text-align:left;
}div.cert4{
    height:auto;
    position: relative;
    margin-top:30px;
    margin-left:30px;
    text-align:right;
}
li.achievements{
    width:30vw;
}
div#ProjectsSect{
    position: relative;
    text-align: center;
}
div#AcademicsSect{
    position: relative;
    text-align: center;
}
div#LeadershipSect{
    position: relative;
    text-align: center;
}
div#MiscSect{
    position: relative;
    text-align: center;
}
div.CertsFlex{
   display: flex;
}
div#AcademicsContent{
    display: block;
    height:0;
}
img.LastCerts{
    margin: auto;
}
li.LastCerts{
    text-align: center;
}