body{
    color:white;
    height: max-content;
    width: max-content;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
img{
    width: 30vw;
}
.achievements{
    font-size: 3vw;
    width: 95vw;
}
.About{
    width: 90vw;
}