body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    height:max-content;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
img{
    width: 30vw;
}
p{
    font-size: 2vw;
}
.achievements{
    position: relative;
    color: lightblue;
    font-size: 3vw;
    width: 95vw;
}
.About{
    position: relative;
    width: 90vw;
}
#nav{
    font-size: 2vw;
    position: fixed;
    top: 0;
    background-color: royalblue;
    width: 100vw;
    left:0px;
    height: min-content;
}
#title{
    margin-top: 4vh;
    font-size: 3vw;
    text-align: center;
    position: relative;
}
.navbar{
    color:white;
    text-decoration: none;
}
.navbar:hover{
    text-decoration: underline;
    cursor: pointer;
}
#home{
    margin-left: 50%;
    margin-right: 2%;
}
.Years{
    text-align: center;
    font-size: 50px;
}
.Years:hover{
    cursor: pointer;
    text-decoration: underline;
}