@keyframes dragDown{
    0%{transform: translateY(-100%);opacity: 0;}
    50%{transform: translateY(0);opacity: 0.5;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes Fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
body{
    animation: Fade 1s linear;
    font-family: 'Montserrat', sans-serif;
    color:white;
    height:max-content;
    text-align: center;
    object-fit: cover;
    background-color: black;
    background-image: linear-gradient(to left,black,grey);
}
.achievements{
    position: relative;
    color: lightblue;
    font-size: 3vw;
    width: 95vw;
}
#nav{
    font-size: 2vw;
    position: fixed;
    top: 0;
    background-color: royalblue;
    width: 100vw;
    left:0px;
    height: min-content;
}
#title{
    margin-top: 4vh;
    font-size: 3vw;
    text-align: center;
    position: relative;
}
.navbar{
    color:white;
    text-decoration: none;
}
.navbar:hover{
    text-decoration: underline;
    cursor: pointer;
}
#home{
    margin-left: 50%;
    margin-right: 2%;
}
.catagories{
    text-align: center;
    font-size: 50px;
}
.catagories:hover{
    cursor: pointer;
    text-decoration: underline;
}