@keyframes dragDown{
    0%{transform: translateY(-100%);opacity: 0;}
    50%{transform: translateY(0);opacity: 0.5;}
    100%{transform: translateY(0);opacity: 1;}
}
@keyframes Fade{
    from{opacity: 0;letter-spacing: 10px;}
    to{opacity: 1;letter-spacing: 0px;}
}
@media only screen and (orientation:portrait) and (min-width:0px) and (max-width:500px){
    body{
        background:green;
    }
}
@media only screen and (orientation:portrait) and (min-width:501px) and (max-width:100000px){
    body{
        background:yellow;
    }
}
img.achievements{
    max-width: 30vw;
    margin: auto;
}
a.navbar{
    color: white;
    white-space: nowrap;
    
}
body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    height:min-content;
    text-align: center;
    object-fit: cover;
    background-color: black;
    background-image: linear-gradient(to left,black,grey);
}
.achievements{
    position: relative;
    color: lightblue;
    font-size: 2vw;
    width: 95vw;
    top: 20vh;
}
div#nav{
    text-align: right;
    z-index: 99999;
    position: fixed;
    top: 0;
    background-color: lightblue;
    width: 100%;
    left:0;
}
#title{
    top: 20vh;
    font-size: 3vw;
    position: relative;
}
li.navbar{
    text-align: unset;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color:black;
    text-decoration: none;
    transition: 0.5s;
}
.navbar:hover{
    color: lightblue;
    border: lightblue solid 1px;
    background-color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.catagories{
    position: relative;
    top: 20vh;
    text-align: center;
    font-size: 30px;
    transition: 1s;
}
.catagories:hover{
    letter-spacing: 3px;
    color: lime;
    cursor: pointer;
    text-decoration: underline;
}
h2.socials{
    top: 20vh;
    position: relative;
}
li.socials{
    top: 20vh;
    position: relative;
    list-style-type: none;
    display: inline-block;
}
img.socialsLogos{
    height: 10vh;
    transition: 0.5s;
}
img.socialsLogos:hover{
    transform:scale(1.5)
}