body{
    color:white;
    height: max-content;
    width: max-content;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
img{
    width: 30vw;
}
p{
    font-size: 2vw;
}
.achievements{
    color: lightblue;
    font-size: 3vw;
    width: 95vw;
}
.About{
    width: 90vw;
}
#nav{
    font-size: 2vw;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100vw;
    left:0px;
    height: min-content;
}
#back{
    color:black;
    text-decoration: none;
}
#back:hover{
    text-decoration: underline;
    cursor: pointer;
}