@keyframes Fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
body{
    animation: Fade 1s linear;
    background-image: linear-gradient(to left, black, gray);
    object-fit: cover;
}
#intro{
    position: relative;
    top:50vh;
    text-align: center;
    color: white;
}
#ViewMore{
    position: relative;
    top: 50vh;
    left: 44vw;
    width: min-content;
    color:red;
    text-decoration: none;
}
#ViewMore:hover{
    text-decoration: underline;
}
#SelfIntro{
    text-align: center;
    color: white;
    top:50vh;
    width: 50%;
    position: relative;
    display: inline-block;
}
#content{
    text-align: center;
}