@media only screen and (orientation:portrait)and(max-width:400px){
    body{
        width: max-content;
    }
    div.content{
        margin: auto;
        text-align: center;
    }
    h2{
        margin: auto;
        font-size: 15px;
        width: 100%;
    }
    a{
        margin: auto;
        font-size: 15px;
        width: 100%;    
    }
}
@media only screen and (max-width:1100px) and (min-width:401px){
    body{
        width: max-content;
    }
    div.content{
        margin: auto;
        text-align: center;
    }
    h2{
        margin: auto;
        font-size: 50px;
        width: 100%;
    }
    a{
        margin: auto;
        font-size: 50px;
        width: 100%;    
    }
}
@keyframes Fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
body{
    animation: Fade 1s linear;
    background-image: linear-gradient(to left, black, gray);
    object-fit: cover;
    width: 100vw;
    margin: 0;

}
div.content{
    margin: auto;
    text-align: center;
}
#intro{
    position: relative;
    top:35vh;
    color: white;
}
#ViewMore{
    position: relative;
    top: 35vh;
    color:gold;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}
#ViewMore:hover{
    background-color: black;
    border: red solid 1px;
    color: red;
    text-decoration: underline;
}
h2{
    text-align: center;
    color: white;
    top:35vh;
    position: relative;
    display: block;
}