@media only screen and (orientation:portrait){
    body{
        width: max-content;
    }
    h2{
        font-size: 15px;
        width: max-content;
    }

}
@keyframes Fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
body{
    animation: Fade 1s linear;
    background-image: linear-gradient(to left, black, gray);
    object-fit: cover;

}
#intro{
    position: relative;
    top:35vh;
    text-align: center;
    color: white;
}
#ViewMore{
    position: relative;
    top: 35vh;
    width: 20%;
    color:gold;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}
#ViewMore:hover{
    background-color: black;
    border: red solid 1px;
    color: red;
    text-decoration: underline;
}
h2{
    text-align: center;
    color: white;
    top:35vh;
    width: 45%;
    position: relative;
    display: inline-block;
}
.content{
    text-align: center;
}