#title{
    text-align: center;
    font-family: cursive;
    font-size: 5vw;
}
@keyframes RoatatingRainbow{
    0%{transform: rotate(0); left: -45vw;color: red;}
    25%{color: orange;transform: rotate(180deg);left: -33.75vw;}
    50%{color: yellow;transform: rotate(360deg);left: -22.5vw;}
    75%{color: green;transform: rotate(540deg);left: -11.25vw;}
    100%{transform: rotate(720deg); left: 0vw;color: lightblue;}
}
@keyframes SizeUp{
    from{font-size: 1px;}
    to{font-size: 2vw;}
}
.aboutMe:hover{
    cursor: pointer;
    text-decoration: underline;
}
.aboutMe{
    color: lightblue;
    text-decoration: none;
    font-size: 3.5vw;
    animation: RoatatingRainbow 1s linear 1;
    width:15vw;
    position: relative;
}
body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#Menu{
    position: absolute;
    left: 43.5vw;
    border: white solid 1px;
    width: min-content;
}