@media only screen and (orientation:portrait)and(max-width:500px){
    body{
        width: max-content;
    }
    div.content{
        margin: auto;
        text-align: center;
    }
    h2{
        margin: auto;
        font-size: 10px;
        width: 100%;
    }
    a{
        margin: auto;
        font-size: 10px;
        width: 100%;    
    }
    img.logo{
        position:relative;
        width: 25%;
        margin:auto;
    }
}
@media only screen and (max-width:1100px) and (min-width:501px){
    body{
        width: max-content;
    }
    div.content{
        margin: auto;
        text-align: center;
    }
    h2{
        margin: auto;
        font-size: 50px;
        width: 100%;
    }
    a{
        margin: auto;
        font-size: 50px;
        width: 100%;    
    }
    img.logo{
        position:relative;
        height: 50vh;
        margin:auto;
    }
}
@keyframes Fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
body{
    font-family: 'Montserrat', sans-serif;;
    animation: Fade 1s linear;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,2,133,1) 0%, rgba(0,212,255,1) 100%);
    object-fit: cover;
    width: 100vw;
    margin: 0;

}
div.content{
    margin: auto;
    text-align: center;
}
#intro{
    position: relative;
    top:0;
    color: white;
}
#ViewMore{
    position: relative;
    top:0h;
    color:white;
    border: white solid 1px;
    border-radius: 10px;
    padding: 14px;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}
#ViewMore:hover{
    color: black;
    background: white;
    border: black solid 1px;
    border-radius: 10px;
    text-decoration: underline;
}
h2{
    text-align: center;
    color: white;
    top:0;
    position: relative;
    display: block;
}
img.logo{
    position:relative;
    height: 50vh;
    margin:auto;
}