body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,black,gray);
}
#intro{
    position: relative;
    top:50vh;
    text-align: center;
    color: white;
}
#ViewMore{
    align-self: center;
    border: 1px solid maroon;
    width: min-content;
    color:red;
    text-decoration: none;
}