body{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,black,gray);
}
#intro{
    position: relative;
    top:50vh;
    text-align: center;
    color: white;
}
#ViewMore{
    position: relative;
    top: 50vh;
    left: 44vw;
    width: min-content;
    color:red;
    text-decoration: none;
}
#ViewMore:hover{
    text-decoration: underline;
}
#SelfIntro{
    text-align: center;
    color: white;
    top:50vh;
    position: relative;
}
div{
    display: block;
}