@media only screen and (orientation:portrait){
    div#intro{
        width: inherit;
    }
    a#ViewMore{
        width: inherit;
    }
    div#SelfIntro{
        width: inherit;
    }
    .content{
        text-align: center;
        object-fit: cover;
    }
}
@keyframes Fade{
    from{opacity: 0;}
    to{opacity: 1;}
}
body{
    animation: Fade 1s linear;
    background-image: linear-gradient(to left, black, gray);
    object-fit: cover;
}
#intro{
    position: relative;
    top:50vh;
    text-align: center;
    color: white;
}
#ViewMore{
    position: relative;
    top: 50vh;
    width: 20%;
    color:gold;
    text-decoration: none;
    display: inline-block;
    transition: 1s;
}
#ViewMore:hover{
    background-color: black;
    border: red solid 1px;
    color: red;
    text-decoration: underline;
}
#SelfIntro{
    text-align: center;
    color: white;
    top:50vh;
    width: 50%;
    position: relative;
    display: inline-block;
}
.content{
    text-align: center;
}