
body{
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#MoreInfo{
    text-align: center;
    font-size: 4vw;
}
.aboutMe{
    width: 90vw;
}