
body{
    font-family: 'Montserrat', sans-serif;
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#MoreInfo{
    position: relative;
    top: 2vh;
    text-align: center;
    font-size: 4vw;
}
.aboutMe{
    width: 90vw;
}
#nav{
    font-size: 2vw;
    text-align: center;
    position: fixed;
    top: 0vh;
    background-color: lightblue;
    width: 100vw;
    left:0px;
    height: min-content;
}