#title{
    text-align: center;
}
#content{

    text-align: center;
    position: absolute;
    border: black solid;
    border-width: 5px;
    background-color: rgb(64,64,64);
    left: 45vw;
}
#ContentPage{

}
body{
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#achievements{
    color:turquoise;
    position: relative;
    text-align: center;
    text-decoration: none;
}
#achievements:hover{
    text-decoration: underline;
}
#aboutMe{
    position: relative;
    text-align: center;
    text-decoration: underline;
}
.AboutMe{  
    text-align: center; 
}
#Myself{
    color:turquoise;
    position: relative;
    text-align: center;
    text-decoration: none;
}
#Myself:hover{
    text-decoration: underline;
}