#title{
    text-align: center;
    font-family: cursive;
    font-size: 3vw;
}
@keyframes AboutMe{
    0%{transform: rotate(0); left: -10vw;color: red;}
    25%{color: orange;transform: rotate(180deg);left: 3.75vw;}
    50%{color: yellow;transform: rotate(360deg);left: 17.5vw;}
    75%{color: green;transform: rotate(540deg);left: 31.25vw;}
    100%{transform: rotate(720deg); left: 45vw;color: white;}
}
#aboutMe:hover{
    cursor: pointer;
    text-decoration: underline;
}
#aboutMe{
    font-size: 2vw;
    animation: AboutMe 1s linear 1;
    left:45vw;
    width: 10vw;
    position: relative;
}
body{
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#achievements{
    left: 45vw;
    width: min-content;
    font-size: 2vw;
    color:white;
    position: relative;
    text-decoration: none;
    color: yellow;
}
#achievements:hover{
    cursor: pointer;
    text-decoration: underline;
}
#Myself{
    left: 45vw;
    width: min-content;
    font-size: 2vw;
    color:white;
    position: relative;
    text-decoration: none;
    color: red;
}
#Myself:hover{
    cursor: pointer;
    text-decoration: underline;
}
#Menu{
    border: white solid 1px;
    width: min-content;
    left:50vw;
}