#title{
    text-align: center;
    font-family: cursive;
    font-size: 3vw;
}
@keyframes AboutMe{
    0%{transform: rotate(0); left: -45vw;color: red;}
    25%{color: orange;transform: rotate(180deg);left: -31.75vw;}
    50%{color: yellow;transform: rotate(360deg);left: -18vw;}
    75%{color: green;transform: rotate(540deg);left: -4.25vw;}
    100%{transform: rotate(720deg); left: 0vw;color: white;}
}
#aboutMe:hover{
    cursor: pointer;
    text-decoration: underline;
}
#aboutMe{
    font-size: 2vw;
    animation: AboutMe 1s linear 1;
    width: 10vw;
    position: relative;
}
body{
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#achievements{
    width: min-content;
    font-size: 2vw;
    color:white;
    position: relative;
    text-decoration: none;
}
#achievements:hover{
    cursor: pointer;
    text-decoration: underline;
}
#Myself{
    width: min-content;
    font-size: 2vw;
    color:white;
    position: relative;
    text-decoration: none;
}
#Myself:hover{
    cursor: pointer;
    text-decoration: underline;
}
#Menu{
    position: absolute;
    left: 45vw;
    border: white solid 1px;
    width: min-content;
}