#title{
    text-align: center;
}
#content{
    position: absolute;
    width: 90vw;
    height: 90vh;
    border: black solid;
    border-width: 5px;
    background-color: rgb(64,64,64);
}
body{
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#achievements{
    position: relative;
    text-align: center;
    text-decoration: underline;
}
#aboutMe{
    position: relative;
    text-align: center;
    text-decoration: underline;
}
.AboutMe{  
    text-align: center; 
}
.achievements{
    text-align: center;
}
