#title{
    text-align: center;
}
#content{
    width: 90vw;
    height: 90vh;
    border: teal;
    border-width: 2px;
}
body{
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#achievements{
    position: relative;
    text-align: center;
}
.achievements{
    text-align: center;
}