#title{
    text-align: center;
}

@keyframes mymove {
    0%{transform:rotate(0);left:100vw;}
    50% {transform: rotate(180deg);left:75vw;}
    100%{transform: rotate(360deg);left:47vw;}
}
@keyframes AboutMe{
    0%{transform: rotate(0); left: -10vw;}
    100%{transform: rotate(720deg); left: 47vw;}
}
#contentPage{
    left: 47vw;
    position: relative;
    width: max-content;
    animation-name: mymove;
    animation-duration: 1s;
    animation-timing-function: linear;
}
#aboutMe{
    animation: AboutMe 1s linear 1;
    left:47vw;
    width: 7vw;
    position: relative;
    text-decoration: underline;
}
body{
    color:white;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(black,grey);
}
#achievements{
    color:white;
    position: relative;
    text-decoration: none;
}
#achievements:hover{
    text-decoration: underline;
}
#Myself{
    color:white;
    position: relative;
    text-decoration: none;
}
#Myself:hover{
    text-decoration: underline;
}